body {
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6,b,em,strong {
  @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
}

code {
  @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
}

.navbar {
  display: block;
}
