body {
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6,b,em,strong {
  @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
}

code {
  @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
}

.navbar {
  display: flex;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #CEEAD6;
  top: 0;
  spacing: 5px;
  position: fixed;
}
.navbar .navbutton {
  float: left;
}
.navbar .navbutton a {
  display: block;
  color: white;
  background-color: #4fc970;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 25px 25px 25px 25px;
}
.navbar li a:hover {
  background-color: #34A853;
  color: #fff;
}

.footer {
  display: block;
  background-color: #202124;
  color: white;
  margin: 0;
  padding: 8px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.footer div {
  display: grid;
  background-color: #202124;
  padding: 20px;
  font-size: 15px;
  text-align: left;
}
