body {
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6,b,em,strong {
  @import src('meta/googlesans.css');
}

code {
  @import src('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
}

.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  corner-radius: 100%;
}
.navbar li a:hover {
  background-color: #ffffff;
  color: #000;
}

.example-spacer {
  flex: 1 1 auto;
}
