body {
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6,b,em,strong {
  font-family: "Google Sans";
}

code {
  font-family: "Google Sans Code";
}

.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CEEAD6;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar .navbutton {
  float: left;
}
.navbar .navbutton a {
  display: block;
  color: white;
  background-color: #4fc970;
  text-align: center;
  padding: 15px 16px;
  spacing: 5px;
  text-decoration: none;
  border-radius: 25px 25px 25px 25px;
}
.navbar li a:hover {
  background-color: #34A853;
  color: #fff;
}

.aboutcontainer {
  display: block;
  background-color: #fff;
  border-color: #9AA0A6;
  border-radius: 25px 25px 25px 25px;
  margin: 15px 15px 15px 15px;
  padding: 0;
}

.footer {
  display: block;
  background-color: #202124;
  color: white;
  margin: 0;
  padding: 8px;
  bottom: 0;
  width: 100%;
}
.footer div {
  display: grid;
  background-color: #202124;
  padding: 20px;
  font-size: 15px;
  text-align: left;
}
.footer div a {
  color: white;
}
